.logo { 
  background: transparent url(../img/bird_blue_32.png) no-repeat center center;
  height: 25px;
  margin: 0;
  width: 32px;
}
.ir {
  display: block; 
  text-indent: -999em; 
  overflow: hidden; 
  background-repeat: no-repeat; 
  text-align: left; 
  direction: ltr;
}
.tweet { 
  background: #f5f5f5; 
  border: 1px solid #ccc; padding: 10px 16px;
  margin-bottom: 4px;
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
  border-radius: 3px
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
  -webkit-transition: 500ms linear 0s;
  -moz-transition: 500ms linear 0s;
  -o-transition: 500ms linear 0s;
  transition: 500ms linear 0s; 
}
.tweet:hover { 
  background: #fff; 
  border: 1px solid #ccc;
}
.follow {
  height:20px;
  width:300px; 
}
.tweet-buttons {
  display: none;
}
.tweet:hover .tweet-buttons {
  display: block;
}
.tweet-buttons a {
  background-image: url(../img/everything-spritev2.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
}
.tweet-buttons .reply {
  background-position: 0px 0px;
}
.tweet-buttons .reply:hover {
  background-position: -16px 0px;
}
.tweet-buttons .retweet {
  background-position: -80px 0px;
}
.tweet-buttons .retweet:hover {
  background-position: -96px 0px;
}
.tweet-buttons .favorite {
  background-position: -32px 0px;
}
.tweet-buttons .favorite:hover {
  background-position: -48px 0px;
}

